.app-header {
    background-color: var(--clr1);

    h1,
    a {
        color: var(--clr2bg-light);
    }
}

.header-container {
    display: flex;
}

.header-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    place-items: center;

    span.balance {
        font-size: 1em;
        color: rgb(166, 214, 198)
    }

    >a {
        margin-inline-start: auto;
    }

    .user-nav {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto;
        column-gap: .4em;
        place-items: center;

        margin-inline-start: auto;


        img {
            grid-row: 1/-1;
        }
    }
}

a.active {
    color: rgb(169, 208, 238);
    font-weight: 600;
    text-decoration: underline;
}