.toy-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    outline: 3px solid var(--clr1bg);
    background-color: var(--accent);
}

.toy-list li:hover {
    scale: 1.02;
    transition: scale .2s ease-in-out;
    box-shadow: 1px 1px 17px 5px  #a5d8f296;
}

.toy-list-btns button {
    box-shadow: 0px 3px 4px 0px rgb(203, 201, 201);
    /* transition:  hover 0.3s; */
}

.toy-list-btns>button:hover {
    outline: .5px solid rgb(168, 166, 166);
    scale: 1.05;
    transition: scale 0.2s;

}