:root {
  --clr1: rgb(140, 173, 125);
  --clr2: rgb(149, 220, 209);

  --clr1bg: rgba(212, 249, 198, 0.959);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgba(214, 238, 245, 0.86);
  --clr2bg-light: rgb(236, 237, 253);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
} 