button,
.btn {
    font-family: 'Lato Roboto', cursive;
    cursor: pointer;
    background-color: var(--clr2bg);
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    color: #0f9797;
    font-size: 1em;
}

button:hover,
.btn:hover {
    background-color: var(--clr2);
    color: white;
    scale: 1.05;
    transition: scale 0.3s;
}

input,
input:focus {
    outline: none;
    border: none;
    padding: .5em;
}

form>* {
    font-family: 'Lato Roboto', cursive;
}