/* flex helpers */

.flex {
  display: flex;
}

.flex.flex-column{
    flex-direction: column;
}

.flex.justify-center{
    justify-content: center;
}

.flex.justify-between{
    justify-content: space-between;
}

.flex.align-center{
    align-items: center;
}

/* text helpers */

.colored-text {
    color: var(--clr1);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

.fa {
    font-family: fa;
}

.fa.fa-facebook::before {
    content: "\f39e";
}

.fa.fa-twitter::before {
    content: "\f099";
}

.fa.fa-dribbble::before {
    content: "\f17d";
}

.fa.fa-behance::before {
    content: "\f1b4";
}

.icon::before {
    font-family: 'Material Symbols Outlined';
    padding: .2rem;
    font-style: normal;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
    cursor: pointer;
}
.icon.chat::before {
    content: "sms";
}